@using Microsoft.AspNetCore.Identity
@using Domain.Entities

@model Domain.Entities.Product
@inject SignInManager<User> SignInManager


@{
    ViewData["Title"] = "Details";
}

<h2> @Html.DisplayFor(model => model.Name)</h2>

<h5 class="section">
    @Html.DisplayFor(model => model.Description)
</h5>

<div class="section">
    <dl class="row">
        <dt class="col s3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col s9">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col s3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col s9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn red" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }

    @*<a asp-action="Index">Back to List</a>*@
</div>
